body {
  display: grid;
  grid-template-columns: max-content minmax(100px, 90%);
  gap: 10px;
}

.sidebar {
  border: solid black 1px;
  grid-row: 1/3;
  background-color: aquamarine;
  padding: 10px;
  /* display:grid;
    grid-template-rows: 1fr 5fr; */
}

header {
  border: solid black 1px;
  grid-column: 2/3;
  display:grid;
  grid-template-rows: 80px 100px;
}
main {
  border: solid black 1px;
  padding: 10px;
  grid-column: 2/3;
}

/* ------------------------- End of top-level layout ------------------------ */
/* ----------------------------- common elements ---------------------------- */
ul {
  list-style: none;
}
.card {
  background-color: orange;
  width: 200px;
}
.card button img {
  width: 20px;
}

/* -------------------------------------------------------------------------- */

.header-top,
.header-bottom {
  padding: 5px 15px;

}

.header-top {
  border: solid black 1px;
  display: grid;
  grid-template-columns: 3fr 50px 80px max-content;
  align-items: center;
}

header #profile-pic-small {
  width: 35px;
}
.header-top img {
  width: 22px;
  margin-bottom: -8px;
}
.header-top #search-box{
  appearance: none;
  border-radius: 30px;
  border: none;
  background-color: gray;
}

.header-bottom {
  border: solid black 1px;
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  align-items: center;
}

.header-bottom p {
  margin: 5px 0px 0px 0px;
}

.profile-pic {
  border-radius: 50%;
  border: solid black 3px;
}

.header-bottom img {
  width: 60px;
}

.sidebar nav ul {
  background-color: green;
  display: grid;
  grid-auto-rows: 40px;
  font-size: 22px;
  padding-inline-start: 20px;
}

#sidebar-title {
  display: flex;
}
#sidebar-title img {
  width: 40px;
  margin-right: 5px;
}

.sidebar nav img {
  display: inline-block;
  width: 23px;
}

.sidebar li {
  background-color: rgb(55, 108, 55);
}

.sidebar li img {
  margin-bottom: -4px;
  margin-right: 5px;
}

.sidebar li#home img {
  width: 28px;
  margin-right: 2px;
}

main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

main #projects {
  background-color: green;
  grid-row: 1/3;
}

main #announcements {
  background-color: rgb(41, 187, 41);
}
main #trending {
  background-color: rgb(51, 135, 51);
}

#card-wrapper {
  display: grid;
  padding: 10px 20px 20px 20px;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, 200px);
}
